<html>

<head>
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
<script type="text/javascript">
    let username = prompt("Please enter your name");
    var index = 0;
    $(document).ready(function(){
        var location = window.location.href;
        var socket = io.connect(location);
        socket.on('connect', (data) => {
            socket.send("User Connected");
        });
        socket.on("message", (data) => {
            console.log(data);
            $("#container").append("<li>" + data + "</li>");
            $("title").html("("+ ++index +")" + "Chat App");
        });
        $("#send").click(function(){
            var message = $("#message").val();
            socket.send(username +": " +message);
        });
    });
</script>
<div id="container">

</div>
<textarea name="" id="message" cols="30" rows="1"></textarea>
<button id="send">Send Now</button>
</body>

</html>
